@model Web.Models.DTOs.UsuarioDTOs.BuscarUsuarioPorIdDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar usuario</h1>

<h4>Cambiar contraseña</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" readonly/>
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Conformar cambio de contraseña" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
